<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">


<test verbose="2" preserve-order="true" name="C:/Users/l.paczek/Documents/Projects/media-browser-TestNG/My_Suite">

	<classes>
		<class name="cmsLibraryManager.AssetTagging.AssetTaggingTestWD" />
	</classes>



</test>

</suite>

